*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #78AA67;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    
}

.alquimia-imagen{
    width: 25%;
}

.alquimia{
    background-image: linear-gradient(#78AA67,#64C7C5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.alquimia-div-conteudo{
    width: 35%;
}
