*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #78AA67;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-img{
    width: 40%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    
}

body{
    font-family: 'Signika Negative', sans-serif;
}

.alquimia-imagen{
    width: 25%;
}

.alquimia{
    background-image: linear-gradient(#78AA67,#64C7C5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.alquimia-div-conteudo{
    width: 35%;
}

.alquimia-titulo{
    padding: 24px 0;

}

.participantes-imagem{
    width: 120px;
    
}

.participantes-div{
    text-align: center;
}

.participantes-imagem-icone{
    width: 24px;
    padding: 4px 8px;
}

.participantes-titulo{
    text-align: center;
    padding: 24px 0;
}

.participantes-todos{
    display: flex;
    justify-content: space-around;
}

.radape{
    background-color: #0B8B46;
    text-align: center;
}

.rodape-imagem{
    width: 30%;
    padding: 24px 0;
}