*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #424E61;
    color: white;
}

li {
    display: flex;
    position:relative;
    left:75%;
    bottom: 33px;
    margin:4%;
    font-size: 130%;
}

